.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Chiều cao tối thiểu để căn giữa theo chiều dọc */
    padding: 20px;
}

.dashboard-content .collum {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Giãn đều các cột */
    align-items: center;
    text-align: center;
}
.btn-login, .btn-register {
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Customize the color as needed */
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.btn-login:hover, .btn-register:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.btn-register {
    background-color: #28a745; /* Green for Register */
}

.btn-register:hover {
    background-color: #218838; /* Darker green for hover effect */
}
canvas {
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

