body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /* Bo tròn các góc */
    line-height: 1.6; /* Tăng khoảng cách giữa các dòng để dễ đọc */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bóng cho bảng */
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    border-radius: 8px; /* Bo tròn các góc */

}
th {
    background-color: #f4f4f4;
        border-radius: 4px; /* Bo tròn các góc */

}
h1 {
    color: #333;
    text-align: center;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bo tròn các góc */

}


